<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면 </title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }

        .list table th, .list table td {
            border: solid 1px #000;
        }

        p.nothing {
            text-align: center;
            padding: 100px;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

        });

    </script>
</head>
<body>
<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
<h1>로그인 히스토리 관리</h1>


<div class="list">
    <table>
        <thead>
        <tr>
            <th> ID</th>
            <th>
                접속IP
            </th>
            <th>
                로그인날짜
            </th>
            <th>
                user_agent
            </th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>


</body>
</html>
